@import '../styles/styles';
@import '../styles/colors';

.item {
  cursor: pointer;
}

.active {
  color: $white;
}

.content {
  .close {
    margin-top: $gutter;
  }

  &:disabled {
    text-decoration: line-through;
  }
}
