$gutter: 15px;
$height: 50px;
$game: 540px;
$monospace: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}
