@use "sass:math";
@import "../styles/styles";
@import "../styles/colors";

$size: 22px;

.article button {
  margin-top: $gutter;
}

.table {
  font-size: 50%;
  margin: 0 auto;
  transform: translate(math.div($height, -2), 0);

  th {
    padding-right: 5px;
  }

  td {
    width: $size;
    height: $size;
    text-transform: initial;
  }
}

.dealer td {
  height: $size + $gutter;
  padding-top: $gutter;
}

/* Colors */
.su {
  background-color: $teal;
}

.sp {
  background-color: $orange;
}

.dh {
  background-color: $olive;
}

.s {
  background-color: $maroon;
}

.h {
  background-color: $blue;
}
