@import '../styles/styles';
@import '../styles/colors';

$size: 22px;

.article {
  padding-right: $height;
}

.table {
  font-size: 50%;
  margin: 0 auto;

  th {
    padding-right: 5px;
  }

  td {
    width: $size;
    height: $size;
    text-transform: initial;
  }
}

.dealer td {
  height: $size + $gutter;
  padding-top: $gutter;
}

.source {
  margin-top: $gutter;

  a {
    font-size: 80%;
    font-weight: normal;
    text-transform: initial;
  }
}

/* Colors */
.su {
  background-color: $teal;
}

.sp {
  background-color: $orange;
}

.dh {
  background-color: $olive;
}

.s {
  background-color: $maroon;
}

.h {
  background-color: $blue;
}
