@import "../styles/styles";
@import "../styles/colors";

.button {
  background-color: $white;
  border-radius: 50%;
  width: $height;
  height: $height;

  &[disabled] {
    opacity: 0.5;
  }
}

.border {
  border: 2px solid $silver;
}

.small {
  font-size: 80%;
}
