@import '../styles/styles';
@import '../styles/colors';

.hand {
  overflow: hidden;
}

.container {
  overflow-y: auto;
}

.deck {
  display: inline-flex;

  li {
    padding: 2px;
  }
}

.desc {
  line-height: 2;
  color: darken($olive, 5%);
}
