@import '../styles/styles';

.player {
  > * {
    @include flex();
    height: 50px;
  }

  .hand {
    height: 100px;
  }

  &:not(.active) {
    opacity: 0.5;
  }
}

.result {
  font-size: 200%;
}
