@import "../styles/styles";

.player {
  > * {
    @include flex();
    height: $height;
  }

  .hand {
    height: 2 * $height;
  }

  &:not(.active) {
    opacity: 0.5;
  }
}

.message {
  font-size: 300%;

  &.small {
    font-size: 150%;
  }
}
