@import '../styles/styles';

.table {
  &,
  > * {
    @include flex();
  }

  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  max-height: 800px;
  max-width: 540px;
  margin: 0 auto;
  padding: 15px;
}

.dealer {
  flex: 1;
}

.players {
  flex: none;
  align-self: stretch;
  justify-content: space-around;
}

.player {
  flex: none;
  width: 50%;
}

.footer {
  flex: none;
  align-self: stretch;
  height: 50px;
  justify-content: space-between;
}
