@import '../styles/styles';

.table {
  &,
  > * {
    @include flex();
  }

  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.dealer {
  flex: 1;
}

.player {
  flex: none;
  flex-direction: row-reverse;
  align-self: stretch;
  justify-content: space-around;

  > * {
    flex: none;
    padding: 0 5px;
  }
}

.actions {
  height: 2 * $height;
}

.footer {
  flex: none;
  align-self: stretch;
  height: $height;
  justify-content: flex-start;
}

.bank {
  @include flex();

  > * {
    margin-right: $gutter;
  }
}
