@import './styles/reboot';
@import './styles/styles';
@import './styles/colors';

html,
body {
  min-height: 100vh;
}

body {
  @include flex();
  align-items: stretch;
  background-color: darken($olive, 25%);
  color: $white;
}

#game {
  font-weight: bold;
  margin: 0 auto;
  padding: $gutter;
  padding-top: $gutter + $height;
  text-align: center;
  text-transform: uppercase;
  max-width: $game;
  max-height: 800px;
  width: 100%;
}

h1 {
  font-size: 1.5rem;
}

a[target='_blank']::after {
  content: ' ↗';
}

button,
input,
textarea {
  background-color: fade-out($white, 0.96);
  color: fade-out($white, 0.5);
  height: $height;
  width: 200px;
}
